main {
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:90vh;
}

/*
  Specify a fixed width to the images and set the box-sizing to border-box. This will ensure that the 
  element will never go greater than the fixed width's size. 
*/
img {
    border:2px solid lightgrey;
    border-radius:10px;
    padding:15px;
    width:300px;
    box-sizing:border-box;
    margin-right:25px;
}


/*
  If a padding was included like above, reduce the padding in the hover selection to ensure that the image
  itself does not get resized.
*/
img:hover {
    border:9px solid red;
    padding:8px;
}
